       body {
           background-image: url("../Pictures/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
           background-position: center;
           background-repeat: none;
           background-size: cover;
       }
       
       .container {
           background-image: url("../Pictures/lana-graves-6CbateL66o8-unsplash.jpg");
           background-position: center;
           background-size: contain;
           background-repeat: none;
           background-size: cover;
           padding-left: 0px;
           padding-right: 0px;
           border: 5px solid rgb(39, 20, 3);
           border-radius: 10px;
       }
       
       .logo {
           width: 40%;
           height: 200px;
           background-color: transparent;
           float: left;
           border-radius: 120px;
           color: rgb(116, 13, 129);
           font-size: 40px;
           font-weight: bold;
           font-family: cursive;
           text-align: center;
           padding: 10px;
       }
       
       .store-top {
           width: 100%;
           height: 250px;
           background-image: repeating-linear-gradient(63deg, rgb(223, 223, 44) 0px, rgb(223, 223, 44) 40px, white 40px, white 80px);
       }
       
       .store-top-2 {
           width: 100%;
           height: 50px;
           background-image: repeating-linear-gradient(117deg, rgb(223, 223, 44) 0px, rgb(223, 223, 44) 40px, white 40px, white 80px);
           border-top: 3px solid white;
       }
       
       .store-top-3 {
           width: 100%;
           height: 29px;
           background: rgb(39, 20, 3);
           padding-left: 45px;
           padding-bottom: 2px;
           font-size: 1.2rem;
           color: rgb(202, 43, 223);
       }
       
       .nav-color {
           /* position: sticky; */
           background: rgb(223, 223, 44);
           margin-top: 5px;
           /* opacity: 0.9; */
           margin-top: 0;
       }
       
       .nav-link {
           color: rgb(177, 76, 190);
           font-weight: bold;
       }
       
       .nav-link:hover {
           color: rgb(116, 13, 129);
       }
       
       #c-btn {
           padding-top: 3px;
           color: rgb(223, 223, 44);
           background-color: rgb(116, 13, 129);
       }
       
       .icon {
           color: rgb(202, 43, 223);
           padding-left: 10px;
       }
       
       #Home-btn {
           color: rgb(116, 13, 129);
           font-weight: bolder;
       }
       
       .jumbotron {
           height: 400px;
           margin: 50px;
           opacity: 0.945;
           color: rgb(116, 13, 129);
           font-weight: 600;
           background: rgb(225, 215, 226);
       }
       
       footer {
           background-color: rgb(39, 20, 3);
           color: white;
           text-align: center;
           margin-top: 75px;
           padding: 50px;
           height: 100px;
       }
       /* -------------------------------------------------------index page ------------------------------------------------------- */
       
       #online-order {
           background-color: rgb(223, 223, 44);
       }
       
       #online-order:hover {
           color: rgb(116, 13, 129);
       }
       /* -------------------------------------------------------about page ------------------------------------------------------- */
       
       .about-cover {
           background-color: rgb(225, 215, 226);
           color: rgb(116, 13, 129);
           opacity: 0.9;
           padding: 50px;
       }
       /* -------------------------------------------------------contact page ------------------------------------------------------- */
       
       .contact-form {
           font-size: 1.5;
       }
       
       label {
           display: flex;
           align-items: center;
           font-size: 1.125rem;
           margin-bottom: 0.5rem;
       }
       
       input,
       button,
       select,
       textarea {
           margin: 0;
           font-family: inherit;
           font-size: inherit;
           line-height: inherit;
       }
       
       .contact-form input {
           width: 300px;
           height: 40px;
       }
       
       .contact-form input,
       textarea {
           border: 2px solid rgb(116, 13, 129);
       }
       
       .contact-btn {
           padding: 5px 50px 5px 50px;
           color: rgb(116, 13, 129);
           border: 2px solid rgb(116, 13, 129);
           font-weight: 800;
       }
       
       .contact-btn:hover {
           color: white;
           background-color: rgb(116, 13, 129);
       }
       /* -------------------------------------------------------orders page ------------------------------------------------------- */
       
       .container-custom {
           border: 5px solid rgb(39, 20, 3);
           border-radius: 10px;
           background: rgb(225, 215, 226);
           padding: 40px;
           color: rgb(116, 13, 129);
           opacity: 0.9;
       }
       
       header {
           font-weight: bold;
           font-size: 50px;
           text-align: center;
           margin-bottom: 10px;
           margin-top: 0;
       }
       
       .order-info input {
           width: 300px;
           height: 40px;
       }
       
       .order-event {
           padding-left: 0;
       }
       /* -------------------------------------------------------cakes page ------------------------------------------------------- */
       /* -------------------------------------------------------cookies page ------------------------------------------------------- */
       
       .card {
           border: 3px solid rgb(223, 223, 44);
       }
       
       #pastries-con {
           padding: 40px 10px 40px 10px;
       }
       
       .card-img-top {
           height: 200px;
       }
       
       .card-body {
           background-color: rgb(223, 223, 44);
       }
       
       .pastries-button {
           color: rgb(225, 215, 226);
           width: 100%;
           padding: 10px 50px 10px 50px;
           background-color: rgb(116, 13, 129);
           font-weight: 600;
       }
       /* -------------------------------------------------------desserts page ------------------------------------------------------- */