.body-color {
    /* background: rgb(39, 20, 3); */
}

.main-container {
    background: url(https://www.pexels.com/photo/background-brick-bricks-brickwall-220166/);
}

.logo {
    width: 20%;
    height: 200px;
    background-color: tomato;
    float: left;
    border-radius: 120px;
}

.store-top {
    width: 100%;
    height: 200px;
    background-image: repeating-linear-gradient(63deg, rgb(223, 223, 44) 0px, rgb(223, 223, 44) 40px, white 40px, white 80px);
    /* border-radius: 5px; */
}

.store-top-2 {
    width: 100%;
    height: 50px;
    background-image: repeating-linear-gradient(117deg, rgb(223, 223, 44) 0px, rgb(223, 223, 44) 40px, white 40px, white 80px);
    /* border-radius: 5px; */
}

.store-top-3 {
    width: 100%;
    height: 25px;
    background: rgb(39, 20, 3);
}

.nav-color {
    background: transparent;
    margin-top: 5px;
}

.nav-content:hover {
    color: purple;
}

.jumbotron {
    background-color: yellow;
    height: 500px;
    margin: 50px;
}

.bg-cover {
    background: url(/Pictures/kirsten-drew-n49BjsFf5dI-unsplash.jpg);
}

footer {
    background-color: whitesmoke;
    text-align: center;
    margin-top: 75px;
    padding: 50px;
    height: 100px;
}