   body {
       background-image: url("../Pictures/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
       background-position: center;
       background-repeat: none;
       background-size: cover;
   }
   
   .container {
       background-image: url("../Pictures/lana-graves-6CbateL66o8-unsplash.jpg");
       background-position: center;
       background-size: contain;
       background-repeat: none;
       background-size: cover;
       padding-left: 0px;
       padding-right: 0px;
       border: 5px solid rgb(39, 20, 3);
       border-radius: 10px;
   }
   
   .logo {
       width: 40%;
       height: 200px;
       background-color: transparent;
       float: left;
       border-radius: 120px;
       color: rgb(116, 13, 129);
       font-size: 40px;
       font-weight: bold;
       font-family: cursive;
       text-align: center;
       padding: 10px;
   }
   
   .store-top {
       width: 100%;
       height: 250px;
       background-image: repeating-linear-gradient(63deg, rgb(223, 223, 44) 0px, rgb(223, 223, 44) 40px, white 40px, white 80px);
   }
   
   .store-top-2 {
       width: 100%;
       height: 50px;
       background-image: repeating-linear-gradient(117deg, rgb(223, 223, 44) 0px, rgb(223, 223, 44) 40px, white 40px, white 80px);
       border-top: 3px solid white;
   }
   
   .store-top-3 {
       width: 100%;
       height: 29px;
       background: rgb(39, 20, 3);
       padding-left: 45px;
       padding-bottom: 2px;
       font-size: 1.2rem;
       color: rgb(116, 13, 129);
   }
   
   .nav-color {
       /* position: sticky; */
       background: rgb(223, 223, 44);
       margin-top: 5px;
       opacity: 0.9;
       margin-top: 0;
   }
   
   .nav-link {
       color: whitesmoke;
       font-weight: bold;
   }
   
   .nav-link:hover {
       color: rgb(116, 13, 129);
   }
   
   #c-btn {
       padding-top: 3px;
       color: rgb(223, 223, 44);
       background-color: rgb(116, 13, 129);
   }
   
   .icon {
       color: rgb(116, 13, 129);
       padding-left: 10px;
   }
   
   #Home-btn {
       color: rgb(116, 13, 129);
       font-weight: bolder;
   }
   
   .jumbotron {
       height: 400px;
       margin: 50px;
       opacity: 0.8;
       color: rgb(116, 13, 129);
       font-weight: 600;
   }
   
   footer {
       background-color: rgb(39, 20, 3);
       color: white;
       text-align: center;
       margin-top: 75px;
       padding: 50px;
       height: 100px;
   }
   /* -------------------------------------------------------index page ------------------------------------------------------- */
   
   #online-order {
       background-color: rgb(223, 223, 44);
   }
   
   #online-order:hover {
       color: rgb(116, 13, 129);
   }
   /* -------------------------------------------------------about page ------------------------------------------------------- */
   /* -------------------------------------------------------contact page ------------------------------------------------------- */
   /* -------------------------------------------------------orders page ------------------------------------------------------- */
   /* -------------------------------------------------------cakes page ------------------------------------------------------- */
   /* -------------------------------------------------------cookies page ------------------------------------------------------- */
   /* -------------------------------------------------------desserts page ------------------------------------------------------- */